main {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
}

.Home, .Product, .Enterprise, .Contact {
    width: 100%;
}

.Home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Home-container h1 {
    padding: 10px 0px;
    font-size: 2.5em;
}

.Home-container p {
    width: 80%;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: justify;
}

.Home-container ul {
    width: 80%;
}

.Home-container ul li {
    width: 100%;
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: justify;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
}

.product-container h1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.ropa-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ropa-container h3 {
    font-size: 2em;
    font-family: 'sans-serif';

}

.corset {
    width: 30%;
    border: 3px solid black;
    border-radius: 5%;
}

.falda {
    width: 90%;
    border: 3px solid black;
    border-radius: 5%;
}

.ropa-container ul li,.enterprise-container ul li {
    font-size: 1.2em;
    font-family: sans-serif;
    text-align: justify;
}

.Enterprise {
    width: 90%;
}

.enterprise-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.enterprise-container img {
    width: 50%;
}

@media (max-width: 568px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }
    .product-container h1 {
        font-size: 2.5em;
    }
    .product-container h3 {
        font-size: 1.5em;
    }
    .ropa-container {
        width: 90%;
    }
    .enterprise-container img {
        width: 100%;
    }
}